.logo-black-1-icon {
  height: 76px;
  width: 101px;
  position: relative;
  object-fit: contain;
}
.home,
.my-city {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.my-city {
  min-width: 50px;
}
.heritage {
  font-size: var(--font-size-sm);
  line-height: 17px;
  min-width: 52px;
}
.contact,
.cv,
.heritage,
.my-interests {
  position: relative;
  display: inline-block;
}
.cv {
  font-size: var(--font-size-sm);
  line-height: 17px;
  min-width: 18px;
}
.contact,
.my-interests {
  white-space: nowrap;
}
.my-interests {
  font-size: var(--font-size-sm);
  line-height: 17px;
  min-width: 74px;
}
.contact {
  line-height: 120%;
  min-width: 51px;
}
.navigation,
.navigation-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navigation {
  width: 596px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.navigation-wrapper {
  width: 646px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 28.5px;
  box-sizing: border-box;
}
.log-in {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 17px;
  display: inline-block;
  font-family: var(--font-cabin);
  color: #fff8f8;
  text-align: left;
  min-width: 37px;
}
.frame-wrapper,
.log-in-wrapper {
  display: flex;
  align-items: flex-start;
}
.log-in-wrapper {
  cursor: pointer;
  border: 0;
  padding: 16px var(--padding-13xl);
  background-color: var(--color-black);
  border-radius: 100px;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.log-in-wrapper:hover,
.send-message-wrapper:hover {
  background-color: var(--color-darkslategray);
}
.frame-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 13.5px;
}
.logo-black-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 131px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-cabin);
}
.contact-us1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.contact-us-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.any-question-or {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: inherit;
  color: #717171;
  text-align: center;
}
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 462px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-child {
  height: 295px;
  width: 297px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 357px;
  z-index: 1;
}
.frame-item {
  width: 491px;
  height: 647px;
  position: relative;
  display: none;
  max-width: 100%;
}
.contact-information,
.say-something-to {
  margin: 0;
  position: relative;
  font-family: inherit;
  z-index: 2;
}
.contact-information {
  font-size: inherit;
  font-weight: 600;
}
.say-something-to {
  font-size: var(--font-size-lg);
  font-weight: 400;
  color: #c9c9c9;
}
.contact-information-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.bxsphone-call-icon,
.div {
  position: relative;
  z-index: 2;
}
.bxsphone-call-icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div {
  display: inline-block;
  min-width: 122px;
  white-space: nowrap;
}
.bxsphone-call-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.icsharp-email-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 2;
}
.jiyarkemalgmailcom {
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.icsharp-email-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.carbonlocation-filled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.kemalpaa-208-sk {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 170px;
  z-index: 2;
}
.carbonlocation-filled-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-parent3 {
  width: 337px;
  flex-direction: column;
  gap: var(--gap-31xl);
  max-width: 100%;
  font-size: var(--font-size-base);
}
.frame-parent2,
.frame-parent3,
.frame-wrapper1,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent {
  width: 491px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-21xl) 225px;
  box-sizing: border-box;
  gap: 111px;
  background-image: url(./public/frame-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.frame-parent2,
.frame-wrapper1 {
  flex-shrink: 0;
  flex-direction: row;
}
.frame-parent2 {
  height: 647px;
  width: 654px;
  position: relative;
  debug_commit: 1de1738;
  max-width: 134%;
}
.frame-wrapper1 {
  width: 491px;
  overflow: hidden;
  min-width: 491px;
  max-width: 100%;
}
.example,
.first-name {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.example {
  margin-bottom: -1px;
  height: 25px;
  width: 275px;
  border: none;
}
.example:focus {
outline: none;
}
.first-name-example {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-gray);
}
.name-input-icons {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.name-labels {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5px;
  min-width: 181px;
  z-index: 1;
}
.example1,
.last-name {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.example1 {
  height: 25px;
  color: var(--color-gray);
  flex-shrink: 0;
  min-width: 53px;
}
.frame-inner {
  width: 100%;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.last-name-parent,
.name-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.last-name-parent {
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: var(--gap-10xs);
  min-width: 181px;
  z-index: 1;
}
.name-fields {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl);
}
.email,
.example2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.email {
  min-width: 34px;
}
.example2 {
  align-self: stretch;
  height: 25px;
  color: var(--color-gray);
  flex-shrink: 0;
}
.email-input-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  min-width: 181px;
}
.phone-number {
  min-width: 90px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.div1,
.example3,
.phone-number {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.div1 {
  min-width: 28px;
  white-space: nowrap;
}
.example3 {
  height: 25px;
  flex: 1;
  font-size: var(--font-size-xs);
  color: var(--color-gray);
}
.phone-number-input {
  width: 241px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.phone-input-icon {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-number-field {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: var(--font-size-sm);
}
.name-fields1,
.phone-number-field,
.phone-number-parent {
  display: flex;
  justify-content: flex-start;
}
.phone-number-parent {
  height: 50px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 30px;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 181px;
  z-index: 1;
}
.name-fields1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-20xl);
}
.email-input-icon {
  width: 278px;
  height: 1px;
  position: relative;
  z-index: 1;
}
.email-input-box {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.message,
.write-your-message {
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.message {
  line-height: 20px;
  display: inline-block;
  min-width: 55px;
}
.write-your-message {
  font-size: var(--font-size-sm);
  line-height: 20.4px;
  color: var(--color-gray);
}
.message-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.message-field-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.form-fields,
.message-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.message-field {
  height: 183px;
  padding: 0 0 141.6px;
  box-sizing: border-box;
  gap: 141.6px;
  z-index: 1;
}
.form-fields {
  gap: 34px;
}
.send-message {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 118px;
}
.form,
.send-message-wrapper {
  display: flex;
  justify-content: flex-start;
}
.send-message-wrapper {
  cursor: pointer;
  border: 0;
  padding: 15px 48px;
  background-color: var(--color-black);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.form {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 28px;
}
.frame-div,
.frame-parent1,
.name-fields-parent,
.user-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-fields-parent {
  width: 595px;
  height: 447px;
  flex-direction: column;
  gap: 49px;
}
.frame-div,
.frame-parent1,
.user-form {
  box-sizing: border-box;
  max-width: 100%;
}
.user-form {
  width: 595px;
  flex-direction: column;
  padding: 58px 0 0;
  min-width: 595px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.frame-div,
.frame-parent1 {
  flex-direction: row;
}
.frame-parent1 {
  flex: 1;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 9px var(--padding-3xs);
  gap: var(--gap-31xl);
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 0;
}
.letter-send-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.letter-send-1-wrapper {
  position: absolute;
  top: 478px;
  left: 787.9px;
  width: 284.8px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
}
.frame-section {
  align-self: stretch;
  height: 715px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 28px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.frame-parent {
  width: 1196px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.contact-us,
.contact-us-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.contact-us-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.contact-us {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 50px;
  gap: var(--gap-8xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1150px) {
  .logo-black-1-parent {
    gap: 65px;
  }
  .frame-wrapper1,
  .user-form {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-section {
    height: auto;
    min-height: 715;
  }
}
@media screen and (max-width: 1050px) {
  .navigation {
    display: none;
  }
  .navigation-wrapper {
    width: 50px;
  }
  .contact-us1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 750px) {
  .logo-black-1-parent {
    gap: 33px;
  }
  .frame-wrapper1 {
    min-width: 100%;
  }
  .name-fields,
  .name-fields1 {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
  }
  .message-field {
    gap: 71px;
  }
  .form-fields {
    gap: var(--gap-mid);
  }
  .user-form {
    min-width: 100%;
  }
  .frame-parent1 {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .logo-black-1-parent {
    gap: 16px;
  }
  .contact-us1 {
    font-size: 24px;
  }
  .contact-information {
    font-size: 22px;
  }
  .carbonlocation-filled-parent {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    height: auto;
    min-height: 647;
  }
  .message-field {
    gap: 35px;
  }
}
