.logo-black-1-icon {
  width: 101px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.logo-area {
  align-self: stretch;
  width: 159.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home,
.my-city {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.my-city {
  min-width: 50px;
}
.heritage1 {
  font-size: var(--font-size-sm);
  line-height: 17px;
  min-width: 52px;
}
.contact,
.cv,
.heritage1,
.my-interests {
  position: relative;
  display: inline-block;
}
.cv {
  font-size: var(--font-size-sm);
  line-height: 17px;
  min-width: 18px;
}
.contact,
.my-interests {
  white-space: nowrap;
}
.my-interests {
  font-size: var(--font-size-sm);
  line-height: 17px;
  min-width: 74px;
}
.contact {
  line-height: 120%;
  min-width: 51px;
}
.navigation-bar,
.navigation-menu {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navigation-menu {
  width: 596px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigation-bar {
  width: 704.5px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl-5);
  box-sizing: border-box;
}
.log-in {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 17px;
  display: inline-block;
  font-family: var(--font-cabin);
  color: var(--color-gray-100);
  text-align: left;
  min-width: 37px;
}
.circle-step-five {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-secondary-white);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.circle-step-five:hover {
  background-color: var(--color-gainsboro);
}
.authentication-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm-5);
}
.sign-up {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 17px;
  display: inline-block;
  font-family: var(--font-cabin);
  color: var(--color-whitesmoke);
  text-align: left;
  min-width: 48px;
}
.circle-step-two {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-saddlebrown);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.circle-step-two:hover {
  background-color: #825240;
}
.authentication-options1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm-5);
}
.authentication-layout {
  align-self: stretch;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-saddlebrown);
  font-family: var(--font-cabin);
}
.illustration-image-icon {
  width: 1439px;
  height: 380px;
  position: absolute;
  margin: 0 !important;
  bottom: -2px;
  left: 0;
}
.citadel-information-child {
  position: absolute;
  top: 0;
  left: 26.5px;
  width: 530px;
  height: 662px;
  object-fit: cover;
}
.information-background {
  position: absolute;
  top: 588px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 125px;
  height: 125px;
  z-index: 1;
}
.citadel-information {
  position: absolute;
  top: 21px;
  left: 0;
  width: 556.5px;
  height: 713px;
}
.info-graphic-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.additional-info {
  position: absolute;
  top: 0;
  left: calc(50% + 165.5px);
  width: 153px;
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.citadel-information-parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 637px;
  z-index: 1;
}
.frame-child,
.history-container-child {
  position: relative;
  display: none;
  max-width: 100%;
}
.frame-child {
  height: 118px;
  width: 659px;
  filter: blur(95px);
  background-color: rgba(52, 37, 31, 0.12);
}
.history-container-child {
  height: 173px;
  width: 739px;
  background-color: var(--color-secondary-white);
}
.bc,
.list-date-child {
  position: relative;
  z-index: 4;
}
.bc {
  line-height: 78px;
  text-transform: capitalize;
}
.list-date-child {
  width: 1px;
  flex: 1;
  border-right: 1px solid var(--color-primary-dark-brown);
  box-sizing: border-box;
  opacity: 0.12;
}
.list-date,
.visitors-stats {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.list-date {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.visitors-stats {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.founded {
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
  display: inline-block;
  min-width: 70px;
  z-index: 4;
}
.founded-wrapper {
  width: 107px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 37px;
  box-sizing: border-box;
  margin-top: -9px;
  font-size: var(--font-size-lg);
  font-family: var(--font-lato);
}
.stats-container,
.stats-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.stats-container {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
}
.stats-container-wrapper {
  height: 116px;
  width: 199px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.frame-item,
.k {
  position: relative;
  z-index: 4;
}
.k {
  line-height: 78px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 99px;
}
.frame-item {
  width: 1px;
  flex: 1;
  border-right: 1px solid var(--color-primary-dark-brown);
  box-sizing: border-box;
  opacity: 0.12;
}
.frame-wrapper,
.k-parent,
.line-wrapper {
  height: 79px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-wrapper {
  width: 1px;
  flex-direction: column;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.frame-wrapper,
.k-parent {
  flex-direction: row;
}
.k-parent {
  width: 167px;
  gap: 67px;
}
.frame-wrapper {
  width: 182px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}
.visitors-per-year {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 33px;
  text-transform: capitalize;
  font-family: var(--font-lato);
  z-index: 4;
  margin-top: -9px;
}
.frame-group,
.history-container-inner {
  width: 182px;
  height: 103px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.history-container-inner {
  height: 116px;
  justify-content: flex-end;
  padding: 0 0 13px;
  box-sizing: border-box;
}
.unesco {
  position: relative;
  font-size: inherit;
  line-height: 78px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 5;
}
.since-2014,
.unesco,
.world-heritage-list {
  margin: 0;
}
.world-heritage-list-container {
  height: 64px;
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 4;
}
.unesco-parent,
.world-heritage-list-since-2014-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.world-heritage-list-since-2014-wrapper {
  width: 157px;
  height: 64px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  margin-top: -12px;
  font-size: var(--font-size-lg);
  font-family: var(--font-lato);
}
.unesco-parent {
  flex-direction: column;
}
.history-container,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.history-container {
  background-color: var(--color-secondary-white);
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-28xl) var(--padding-4xl);
  gap: 51px;
}
.rectangle-parent {
  position: absolute;
  top: 529px;
  left: 434px;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 3;
  text-align: center;
}
.erbil-citadel-since,
.the-erbil-citadel {
  margin: 0;
  position: absolute;
  left: 653px;
  text-transform: capitalize;
  display: inline-block;
}
.erbil-citadel-since {
  top: 99px;
  font-size: 68px;
  line-height: 78px;
  font-weight: 700;
  font-family: inherit;
  width: 530px;
}
.the-erbil-citadel {
  top: 255px;
  font-size: 20px;
  line-height: 180%;
  font-weight: 400;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  width: 446px;
  z-index: 1;
}
.frame-parent {
  height: 734px;
  width: 1193px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-frank-ruhl-libre);
}
.heritage,
.main-content {
  display: flex;
  box-sizing: border-box;
}
.main-content {
  width: 1413px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.heritage {
  width: 100%;
  position: relative;
  background-color: #edc;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 131px var(--padding-10xs);
  gap: 19px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .navigation-menu {
    display: none;
  }
  .navigation-bar {
    width: 108.5px;
  }
}
@media screen and (max-width: 1000px) {
  .bc,
  .k,
  .unesco {
    font-size: var(--font-size-13xl);
    line-height: 62px;
  }
  .history-container {
    flex-wrap: wrap;
  }
  .erbil-citadel-since {
    font-size: 54px;
    line-height: 62px;
  }
  .frame-parent {
    height: auto;
    min-height: 734;
  }
}
@media screen and (max-width: 450px) {
  .bc,
  .k,
  .unesco {
    font-size: var(--font-size-5xl);
    line-height: 47px;
  }
  .erbil-citadel-since {
    font-size: var(--font-size-22xl);
    line-height: 47px;
  }
  .the-erbil-citadel {
    font-size: 16px;
    line-height: 29px;
  }
}
